html,body{
    margin: 0px;
}
header{
    height: 200px;
    width: 100%;
    background-color: red;
}    
.primary-navigation{
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right;
}
.primary-navigation li{
    float: left;
}
.primary-navigation li a{
    padding: 20px;
    background-color: yellow;
    text-decoration: none;
}

.primary-navigation li a:hover{
    padding: 20px;
    background-color: green;
    text-decoration: none;
    -webkit-transition: all 5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 5s ease-out;  /* Chrome 26, Firefox 16+,*/
}
.main-content{
    background-color: blue;
    height: 600px;
}
.subtitle{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: black;
    color: white;
    padding: 15px;
}
.cards{
    background-color: white;
    padding: 15px;
}
.cards h4{
    font-family: "Roboto";
    font-size: 24px;
}
.cards p{
    font-size: 18px;
}
.sidebar{
    background-color: pink;
}
footer{
    background-color: yellow;
    min-height: 300px;
    width: 100%;
}

@media screen and (max-width: 600px){
    .main-content{
        width: 100%;
        background-color: black;
    }
    .primary-navigation li a{
        font-size: 8px;
    }
    .subtitle{
        font-size: 72px;
        text-align: center
    }
}

@media screen and (min-width: 600px){
    .subtitle{
        font-size: 32px;
        text-align: left;
        color: green;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px){
    .subtitle{
        font-family: "Helvetica";
        font-size: 12px;
        color: white;
    }
}